*,
*::before,
*::after {
  box-sizing: border-box;
}
/* styles the header  */
header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;

}
a{
  color:black;
  text-decoration: none;
}
/*styles the body*/
body {
  
  font-family: "Roboto", sans-serif;
  background-color: #eff5f8;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
/* styles startQuizButton and Play button */
#startQuizButton, #Play,  button {
  background-color:#001b44;;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 1.2em;
  letter-spacing: 0.21px;
  line-height: 16px;
  max-width: 255px;
  padding: 20px;
  text-align: center;
  margin-top: 10px;
}
/* styles submit button*/
#submitEL {
  background-color:#001b44;;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 1.2em;
  letter-spacing: 0.21px;
  line-height: 16px;
  max-width: 200px;
  max-height: 100px;
  padding: 20px;
  text-align: center;
  margin-top: 10px;
}
/* styles div card for highscores */
#card{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 30px;
  padding:20px;
  
}
/* stlyes list with no decoration */
#HSL{
  list-style: none;
}